In [25]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 

# Load CSV file into a pandas DataFrame
df = pd.read_csv('KC Survey_All Years.csv')
# Remove multiple columns by name
df = df.drop(['Language', 'legal_gps2122','legal_music2122','legal_app2122'], axis=1)
# Calculate the covariance matrix
cov_matrix = df.corr()
# Print the DataFrame
# Plot the covariance matrix as a heatmap
#

In [26]:
# Select only the required columns
# df = df[['zip', 'work_outside_home','Commute','acc_handheld','acc_handfree','acc_read','acc_type','acc_app']]
# df.head()

In [27]:
# Define a dictionary to map numbers to strings
# 1:Completely Acceptable/2:Somewhat Acceptable/3:Somewhat Unacceptable/4:Completely Unacceptable/5:Not Sure
mapping = {1: 'Completely Accptable', 2: 'Somewhat Acceptable', 3: 'Somewhat Unacceptable', 4: 'Completely Unacceptable',5:'Not Sure'}
# Map the values in the 'column_name' column to strings using the dictionary
df[['acc_handheld','acc_handfree','acc_read','acc_type','acc_app']] = df[['acc_handheld','acc_handfree','acc_read','acc_type','acc_app']].replace(mapping)

In [28]:
df.head()

,zip,work_outside_home,Commute,beh_read,beh_type,beh_handheld,beh_handfree,beh_app,acc_handheld,acc_handfree,...,agegrp1,Race,Education,Income,drive30days,Urbanicity,weight,year,month,day
0,98001,1,1.0,2,2,3,5,3,Somewhat Unacceptable,Somewhat Acceptable,...,2,3,2,3,1,2.0,0.611521,2018,6,17
1,98052,1,1.0,5,5,5,2,3,Completely Unacceptable,Completely Unacceptable,...,2,4,3,3,2,2.0,1.077168,2018,6,17
2,98042,1,1.0,5,5,2,2,5,Completely Unacceptable,Somewhat Acceptable,...,3,3,1,4,1,2.0,1.459666,2018,6,17
3,98028,2,NaN,5,5,5,5,5,Completely Unacceptable,Completely Accptable,...,2,3,1,1,2,2.0,0.602725,2018,6,17
4,98003,2,NaN,5,5,5,3,5,Somewhat Unacceptable,Somewhat Unacceptable,...,2,4,3,2,1,2.0,0.498099,2018,6,17

In [29]:
# 1:Regularly/2:Fairly Often/3:Rarely/4:Just Once/5:Never /6:Not Sure
mapping = {1: 'Regularly', 2: 'Fairly Often', 3: 'Rarely', 4: 'Just Once',5:'Never',6:'Not Sure'}

df[['beh_read','beh_type','beh_handheld','beh_handfree','beh_app']]=df[['beh_read','beh_type','beh_handheld','beh_handfree','beh_app']].replace(mapping)

In [30]:
df.head()

,zip,work_outside_home,Commute,beh_read,beh_type,beh_handheld,beh_handfree,beh_app,acc_handheld,acc_handfree,...,agegrp1,Race,Education,Income,drive30days,Urbanicity,weight,year,month,day
0,98001,1,1.0,Fairly Often,Fairly Often,Rarely,Never,Rarely,Somewhat Unacceptable,Somewhat Acceptable,...,2,3,2,3,1,2.0,0.611521,2018,6,17
1,98052,1,1.0,Never,Never,Never,Fairly Often,Rarely,Completely Unacceptable,Completely Unacceptable,...,2,4,3,3,2,2.0,1.077168,2018,6,17
2,98042,1,1.0,Never,Never,Fairly Often,Fairly Often,Never,Completely Unacceptable,Somewhat Acceptable,...,3,3,1,4,1,2.0,1.459666,2018,6,17
3,98028,2,NaN,Never,Never,Never,Never,Never,Completely Unacceptable,Completely Accptable,...,2,3,1,1,2,2.0,0.602725,2018,6,17
4,98003,2,NaN,Never,Never,Never,Rarely,Never,Somewhat Unacceptable,Somewhat Unacceptable,...,2,4,3,2,1,2.0,0.498099,2018,6,17

In [31]:
# 1:Very Serious Threat/2:Threat/3:Not a Threat/4:Not At All a Threat/5:Not Sure
mapping = {1: 'Very Serious Threat', 2: 'Threat', 3: 'Not a Threat', 4: 'Not At All a Threat',5:'Not Sure'}
df[['threat_type','threat_talk','threat_aggressive','threat_spdfwy',
'threat_spdres','threat_lights','threat_asleep','threat_alcohol','threat_cannabis','threat_app']]=df[['threat_type','threat_talk','threat_aggressive','threat_spdfwy',
'threat_spdres','threat_lights','threat_asleep','threat_alcohol','threat_cannabis','threat_app']].replace(mapping)

In [32]:
df.head()

,zip,work_outside_home,Commute,beh_read,beh_type,beh_handheld,beh_handfree,beh_app,acc_handheld,acc_handfree,...,agegrp1,Race,Education,Income,drive30days,Urbanicity,weight,year,month,day
0,98001,1,1.0,Fairly Often,Fairly Often,Rarely,Never,Rarely,Somewhat Unacceptable,Somewhat Acceptable,...,2,3,2,3,1,2.0,0.611521,2018,6,17
1,98052,1,1.0,Never,Never,Never,Fairly Often,Rarely,Completely Unacceptable,Completely Unacceptable,...,2,4,3,3,2,2.0,1.077168,2018,6,17
2,98042,1,1.0,Never,Never,Fairly Often,Fairly Often,Never,Completely Unacceptable,Somewhat Acceptable,...,3,3,1,4,1,2.0,1.459666,2018,6,17
3,98028,2,NaN,Never,Never,Never,Never,Never,Completely Unacceptable,Completely Accptable,...,2,3,1,1,2,2.0,0.602725,2018,6,17
4,98003,2,NaN,Never,Never,Never,Rarely,Never,Somewhat Unacceptable,Somewhat Unacceptable,...,2,4,3,2,1,2.0,0.498099,2018,6,17

In [37]:
# 1:Legal/2:Illegal/3:Not Sure
mapping = {1: 'Legal', 2: 'Illegal', 3: 'Not Sure'}
# df[['legal_addgps','legal_gps1819','legal_gps2122','legal_handheld',
# 'legal_handheldstop','legal_handheldspkr','legal_911','legal_camera','legal_music1819',
# 'legal_music2122','legal_readstop','legal_typestop','legal_handfree','legal_app1819',
# 'legal_app2122','legal_video']]=df[['legal_addgps','legal_gps1819','legal_gps2122','legal_handheld',
# 'legal_handheldstop','legal_handheldspkr','legal_911','legal_camera','legal_music1819',
# 'legal_music2122','legal_readstop','legal_typestop','legal_handfree','legal_app1819',
# 'legal_app2122','legal_video']].replace(mapping)
df[['legal_addgps','legal_gps1819','legal_handheld',
'legal_handheldstop','legal_handheldspkr','legal_911','legal_camera','legal_music1819',
'legal_readstop','legal_typestop','legal_handfree','legal_app1819',
'legal_video']]=df[['legal_addgps','legal_gps1819','legal_handheld',
'legal_handheldstop','legal_handheldspkr','legal_911','legal_camera','legal_music1819',
'legal_readstop','legal_typestop','legal_handfree','legal_app1819',
'legal_video']].replace(mapping)
df.head()

,zip,work_outside_home,Commute,beh_read,beh_type,beh_handheld,beh_handfree,beh_app,acc_handheld,acc_handfree,...,agegrp1,Race,Education,Income,drive30days,Urbanicity,weight,year,month,day
0,98001,1,1.0,Fairly Often,Fairly Often,Rarely,Never,Rarely,Somewhat Unacceptable,Somewhat Acceptable,...,2,3,2,3,1,2.0,0.611521,2018,6,17
1,98052,1,1.0,Never,Never,Never,Fairly Often,Rarely,Completely Unacceptable,Completely Unacceptable,...,2,4,3,3,2,2.0,1.077168,2018,6,17
2,98042,1,1.0,Never,Never,Fairly Often,Fairly Often,Never,Completely Unacceptable,Somewhat Acceptable,...,3,3,1,4,1,2.0,1.459666,2018,6,17
3,98028,2,NaN,Never,Never,Never,Never,Never,Completely Unacceptable,Completely Accptable,...,2,3,1,1,2,2.0,0.602725,2018,6,17
4,98003,2,NaN,Never,Never,Never,Rarely,Never,Somewhat Unacceptable,Somewhat Unacceptable,...,2,4,3,2,1,2.0,0.498099,2018,6,17

In [ ]:
# 1:Very Likely/2:Somewhat Likely/3:Somwhat Unlikely/4:Very Unlikely/5:Not Sure
mapping = {1: 'Very Likely', 2: 'Somewhat Likely', 3: 'Somewhat Unlikely', 4: 'Very Unlikely',5:'Not Sure'}